{# This graphId must be unique for this report #}
<a name="evolutionGraph" graphId="VisitsSummarygetEvolutionGraph"></a>

<h2>{{ 'Referrers_Evolution'|translate }}</h2>
{{ graphIPv6UsageByProtocol|raw }}
